<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Este app precisa acessar a rede local para conectar à Apple TV e funcionar como controle do jogo.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_rhythm-game._tcp</string>
		<string>_rhythm-game._udp</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIAppFonts</key>
	<array>
		<string>LuckiestGuy-Regular.ttf</string>
	</array>
</dict>
</plist>
